# NAVIGATION TREE
nav:
  - Home: index.md
  - OSC API: 
    - Overview: osc_api/overview.md
    - Configuration:
      - Overview: osc_api/cfg/overview.md
      - Get Device Config: osc_api/cfg/sio_cfg_get.md
      - Set Digital Input Event Message: osc_api/cfg/sio_cfg_eventmessage_di_set.md

# SITE CONFIGURATION
site_name: Show Technologies Docs
site_url: https://docs.show-technologies.com/
theme:
  name: material
  font: false
  language: en
  logo: assets/logo_darkmode.png
  favicon: assets/ico_darkmode.ico
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: white
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      acccent: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.instant.preview
    - navigation.footer
    - navigation.path
    - navigation.indexes
    - toc.integrate
  icon:
    admonition:
      warning: fontawesome/solid/warning

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true

extra:
  generator: false
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/showtechnologies/
    - icon: fontawesome/solid/home
      link: https://www.show-technologies.com


extra_css:
  - stylesheets/extra.css

validation:
  omitted_files: warn
  absolute_links: warn  # Or 'relative_to_docs' - new in MkDocs 1.6
  unrecognized_links: warn
  anchors: warn  # New in MkDocs 1.6